<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
    <h1>Editar Usuario</h1>
    <form action="/update/<%=user.id%>" method="post">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" value="<%=user.nombre%>" required maxlength="45">
        <br><br>
        <label for="email">Correo</label>
        <input type="email" name="email" id="email" value="<%=user.email%>" required maxlength="45">
        <br><br>
        <button type="submit">Actualizar</button>

    </form>
    
</body>
</html>