<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
    <form action="#" method="post">
        <label for="name">Nombre:</label>
        <input type="email" name="Correo" id="email" placeholder="Ingresa Correo" required maxlength="45">
        <br><br>
        <label for="pass">Contraseña: </label>
        <input type="password" name="Contraseña" id="pass" maxlength="15" required placeholder="Ingresa la Contraseña: ">
        <br><br>
        <button type="submit">Enviar</button>
        <button type="reset">Eliminar</button>
    </form>
    <br>
    <a href="/index.html">Volver al inicio</a>
</body>
</html>